@import url(https://fonts.googleapis.com/css?family=Audiowide);

body {  
  text-align: center;
}


#logo {
  font-family:Audiowide;
  font-size:150px;
  color: purple;
  margin:100px;
  
  transition: all 5s ease-out;
  
  text-shadow: 
  1px 1px 0 rgba(36,117,203,1),
  13px 3px 0 rgba(36,117,203,0.9),
  5px 5px 0 rgba(36,117,203,0.8),
  17px 7px 0 rgba(36,117,203,0.7),
  9px -15px 0 rgba(36,117,203,0.6),
  -11px 11px 0 rgba(36,117,203,0.5),
  7px -13px 0 rgba(36,117,203,0.4),
  15px 30px 0 rgba(36,117,203,0.3),
  -20px 17px 0 rgba(36,117,203,0.2),
  -19px 19px 0 rgba(36,117,203,0.1),
  30px -21px 0 rgba(36,117,203,0.08),
  23px 23px 0 rgba(36,117,203,0.06),
  -25px 40px 0 rgba(36,117,203,0.04),
  27px 27px 0 rgba(36,117,203,0.02),
  -29px 29px 0 rgba(36,117,203,0.0);
}

#logo:hover {

  transform: rotateY(130deg) rotateX(150deg) rotateZ(45deg);
  
  text-shadow: 
  10px 1px 0 rgba(36,117,203,0.1),
  13px 23px 0 rgba(36,117,203,0.2),
  15px 5px 0 rgba(36,117,203,0.03),
  17px 7px 0 rgba(36,117,203,0.04),
  9px 15px 0 rgba(36,117,203,0.2),
  -11px -11px 0 rgba(36,117,203,0.06),
  17px -13px 0 rgba(36,117,203,0.07),
  15px 30px 0 rgba(36,117,203,0.1),
  -20px -17px 0 rgba(36,117,203,0.06),
  -19px 19px 0 rgba(36,117,203,0.08),
  5px 21px 0 rgba(36,117,203,0.02),
  23px -23px 0 rgba(36,117,203,0.1),
  25px 40px 0 rgba(36,117,203,0.2),
  27px 17px 0 rgba(36,117,203,0.1),
  -29px -29px 0 rgba(36,117,203,0.1);
}

#hint {
  margin:100px;
  font-family:Courier;
  font-size:30px;
  font-weight:bold;
  color:#666;
}